.root {
    -fx-font-size: 18pt;
    -fx-font-family: "Noto Sans";
    -fx-background-color: transparent;
    -fx-text-fill: #f0f0f0;
    -fx-border-width: 1px;
    -fx-border-color: #4a454f;
}

.base-color {
    -fx-color: #f0f0f0;
    -fx-text-fill: #f0f0f0;
    -fx-background-color: #343139;
}

.base-transparent {
    -fx-color: #f0f0f0;
    -fx-text-fill: #f0f0f0;
    -fx-background-color: transparent;
}


/* Result separator*/
.result-separator {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #58535d;
}

.result-separator > .label {
    -fx-font-size: 10pt;
    -fx-text-fill: #aaaaaa;
    -fx-background-color: transparent;
    -fx-font-weight: lighter;
}

/* Pane overrides*/
.border-pane, .scroll-pane {
    -fx-border-width: 0;
}

/* Scroll pane overrides */
.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Button overrides */
.button {
    -fx-padding: 5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

/* Text field*/
.persistent-prompt, .persistent-prompt:focused {
    -fx-prompt-text-fill: #7a787f;
}

.no-prompt {
    -fx-prompt-text-fill: transparent !important;
}

/* Scrollbar overrides: */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: #58535d;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 20px;
    -fx-pref-width: 20px;
    -fx-padding: 0;
}

.thumb {
    -fx-background-radius: 0;
    -fx-background-color: #434148;
    -fx-border-width: 0px;
    -fx-border-color: #58535d;
}

.thumb:hover, .thumb:pressed {
    -fx-background-color: #58535d;
}

.increment-button, .decrement-button, .increment-arrow, .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}
